/* section background
/* -------------------------------------------------- */

#subheader{
background:url(../images/background/bg-subheader.jpg) top left fixed;
background-size:cover;
}

#section-3D {
    background: url(../images/background/3D_001.jpg) top left fixed;
    background-size: cover;
}

#section-360VR,
##section-contact{
    background:#f8f8f8;
    height: 100%;
}

#section-360VR .image-container {
    background:url(../images/background/360VR-STUDIO-001.jpg);
}

#section-web3D {
    background: #inherit;
    height: 100%;
}

#section-web3D .image-container {
    background: url(../images/background/WEB-3D-001.jpg);    
    right:0;
}


#section-about {
    background: #inherit;
    height: 100%;
}

#section-about .image-container {
    background: url(../images/background/AR-VR-001.jpg);    
    right:0;
}

#section-contact .image-container{
    background: url(../images/background/officeImage.jpg);
}

#fun-facts{
background:url(../images/background/bg-3.jpg) top left fixed;
background-size:cover;
}

/*
#section-contact{ 
background:url(../images/background/bg-4.jpg) top left fixed;
background-size:cover;
}
*/

#section-skill-bar{ 
background:url(../images/background/bg-8.jpg) top left fixed;
background-size:cover;
}

#info-address{background:url(../images/background/bg-3.jpg) top fixed;}
#logo-full{ background:#000; padding:60px 0 60px 0;}
#view-all-projects{background:#F06807; padding:60px 0 60px 0;}
#section-about-us-2{background:#f8f8f8; height:100%;}

#section-about-us-2 .image-container{background:url(../images/background/bg-side-1.jpg);}


.dark #section-about-us-2{background:#222; height:100%;}
#section-welcome{background:url("http://lorempixel.com/1920/1281/technics/");}
#section-welcome-2{background:url(../images/background/bg-6.jpg);}
#section-welcome-3{background:url(../images/background/bg-7.jpg) top left;}
.dark #section-portfolio{background:#222;}

#section-testimonial{ background:url(../images/background/bg-2.jpg) top fixed;}